In [96]:
# 전처리를 위한 라이브러리 불러오기
import pandas as pd
import numpy as np

In [97]:
# MBS조기상환율 데이터 불러오기
mbs1 = pd.read_csv("../raw_data/K-MBS_200406-200412.csv", header=None)
mbs2 = pd.read_csv("../raw_data/K-MBS_200501-201012.csv", header=None)
mbs3 = pd.read_csv("../raw_data/K-MBS_201101-201512.csv", header=None)
mbs4 = pd.read_csv("../raw_data/K-MBS_201601-202012.csv", header=None)
mbs5 = pd.read_csv("../raw_data/K-MBS_202101-202208.csv", header=None)

In [98]:
# 필요한 칼럼만 추출
mbs1 = mbs1[[0,1,2,8]]
mbs2 = mbs2[[0,1,2,8]]
mbs3 = mbs3[[0,1,2,8]]
mbs4 = mbs4[[0,1,2,8]]
mbs5 = mbs5[[0,1,2,8]]

In [99]:
# MBS 조기상환율 모든 연도 데이터 합치기
mbs = pd.concat([mbs1, mbs2, mbs3, mbs4, mbs5], ignore_index=True).dropna()
#mbs.reset_index(drop=False, inplace=True)

# MBS만 들어간 데이터를 추출
mbs2 = mbs.loc[mbs[0].str.contains('MBS', na = False),:]

# 컬럼명 변경 후 전처리 결과 csv 파일로 저장
mbs2 = mbs2.rename(columns={0:'발행회차', 1:'발행일자', 2:'기준월', 8:'만기전상환율'})
mbs2.to_csv("../전처리/mbs_end.csv", encoding='CP949')

In [100]:
mbs2

              발행회차        발행일자      기준월  만기전상환율
0      MBS 2004-07  2004-12-28  2004-12    0.34
1      MBS 2004-06  2004-11-30  2004-12    0.48
2      MBS 2004-06  2004-11-30  2004-11    0.33
3      MBS 2004-05  2004-10-28  2004-12    0.86
4      MBS 2004-05  2004-10-28  2004-11    0.06
...            ...         ...      ...     ...
38062  MBS 2004-01  2004-06-15  2021-05    0.00
38063  MBS 2004-01  2004-06-15  2021-04    0.00
38064  MBS 2004-01  2004-06-15  2021-03    0.00
38065  MBS 2004-01  2004-06-15  2021-02    0.00
38066  MBS 2004-01  2004-06-15  2021-01    0.00

[34717 rows x 4 columns]

In [ ]:
# MBS 조기상환율 발행일자, 발행회차 기준 평균내기
mbs = mbs.groupby(["발행일자", "발행회차"])['만기전상환율'].apply(np.average)
mbs = pd.DataFrame(mbs)
mbs

In [ ]:
# 발행금리 불러오기
r = pd.read_csv('./datasets/MBS발행금리_20040101-20220810.csv')
r = r[['발행회차', '발행일자', '가중평균발행금리']]

In [ ]:
# MBS 조기상환율 & 발행금리 합치기
mbs_r = pd.merge(mbs, r, how='left', on=['발행일자', '발행회차'])
mbs_r

In [ ]:
# 팔행일자, 발행회차 기준 데이터 정리
mbs_r = mbs_r.set_index(['발행일자', '발행회차'])
mbs_r